.apps
    position fixed
    bottom 20px
    width panel_width

    &__title
        font normal 12px/12px Verdana, sans-seirf;

        padding-left 30px

        color #646464

    &__list
        margin-top 20px

    @media (max-height: 600px)
        &
            position static
            margin 40px 0