positive_color = #3ca943
attention_color = #d03232

panel_color = #1e1e1e

kill_button_color = #323232

panel_width = 320px


// APPS

app_hadoop_plain = #f707a5
app_hadoop_gradient = linear-gradient(135deg,  #b511cd 0%, #fb01b9 100%)

app_rails_plain = #3c2dee
app_rails_gradient = linear-gradient(135deg,  #2035f5 0%, #5b20cf 100%)

app_chronos_plain = #01aafd
app_chronos_gradient = linear-gradient(135deg,  #02c8fb 0%, #0085e8 100%)

app_storm_plain = #2ce19c
app_storm_gradient = linear-gradient(135deg,  #288d55 0%, #20dcb8 100%)

app_spark_plain = #69fa1a
app_spark_gradient = linear-gradient(135deg,  #72fc05 0%, #63e92a 100%)
